body{
  overflow: auto;
}
.request{
    background-color: var(--white-color);
    display: flex;
    border: 1px solid var(--secondary-color);
    width: 60rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    justify-content: space-between;
  }
  .wrapper, .content{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: flex-start;
  }
  .requestList{
    display: none;
  }
  
  .actionBtn{
    padding: 1.6rem;
    border-radius: 999rem;
  }
  .green{
    background-color: #09ee2f;
  }
  .yellow{
    background-color: #f0fc08;
  }
  .delete{
    background-color: #f20202;
  }
  .buttons{
    display: flex;
    gap: 1.6rem;
    /* flex-direction :row is by default */
  }
  .btn-active{
    transform: translateY(-1rem);
    background-color: var(--hover);
  }
  .requestList--4,
  .requestList--3,
  .requestList--2,
  .requestList--1{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    display: none;
  }
  .visible{
    display: flex;
  }
