/* body{
  overflow: auto;
}
.request{
    background-color: var(--white-color);
    display: flex;
    border: 1px solid var(--secondary-color);
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }
  .request.changed{
    border: 1px solid var(--warning-color);
    position: relative;
  }
  .marker.actionBtn{
    width: 3rem;
    height: 3rem;
    background-color: var(--warning-color);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
    position:absolute;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
    transition: all 300ms;
    padding: 0;
  }
  .marker.actionBtn:hover{
    top: 0;
    left: 0;
    transform: translate(-50% , -50%) scale(110%);
    background-color: #eec809;
    cursor: pointer;
  
  }
  .wrapper, .content{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: flex-start;
  }
  .requestList{
    display: none;
  }
  
  .actionBtn{
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 999rem;
  }
  .green{
    background-color: #09ee2f;
  }
  .yellow{
    background-color: yellow;
  }
  .delete{
    background-color: #f20202;
  }
  .unmarked {
    background-color: gray;
  }
  .buttons{
    display: flex;
    gap: 1.6rem;
    /* flex-direction :row is by default */
  /* } */
  /* .btn-active{
    transform: translateY(-1rem);
    background-color: var(--hover);
  } */




