
:root {
    --secondary-color: #242F34;
    --main-color:#F8E800;
    --white-color:#fff;
    --hover: #f1ca1e;
  }


html {
    /* 62.5% of 16px browser font size is 10px */
    /* 1 rem = 10px */
    font-size: 62.5%;
  }

header {
  margin-bottom: 20px;
}

  body{
    background-color: white;
    /*background-color: #3a4448;*/
    /* background: linear-gradient(45deg, rgba(36,47,52,1) 0%, rgba(80,89,93,1) 25%,rgba(80,89,93,1) 75%, rgba(36,47,52,1) 100%); */
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.wrapper{
    height: 100vh;
    width: 130rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
  }

.request_window{
    border-top: 2px solid var(--main-color);
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    min-width: 60rem;
    height: fit-content;
    padding: 6.4rem 3.2rem;
  }

  .form_title{
    color: white;
    text-align: center;
  }
  .field{
    margin-bottom: 2.4rem;
    display: flex;
  }
  .input{
    padding: 1.6rem;
    width: 100%;
    font-size: 1.8rem;
  }

  .tableBtn {
    background-color: var(--main-color);
    margin-bottom: 5px;
    font-weight: 700;
    cursor:pointer;
    color: var(--secondary-color);
    border-radius: 999rem;
    border: none;
    transition: all 300ms;
  }

  .tableBtn:hover{
      background-color: var(--hover);
  }

  .btn{
    padding: 0.8rem 1.6rem;
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 2rem;
    cursor:pointer;
    color: var(--secondary-color);
    border-radius: 999rem;
    border: none;
    transition: all 300ms;
  }

  .btn:hover{
    background-color: var(--hover);
  }

.title {
  text-align: center;
  color: white;
}

.link {
  color: white;
  font-size: large;
  text-decoration: none;

}

/* NAVBAR */

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  background-color: #3a4448;
  height: 100%;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #d8ca03;
  color: black;
}

li a:hover:not(.active) {
  background-color: #d8ca03;
  color: white;
}


/* Tabel */

table {
  width: 100%;
  font-size: medium;
  background-color: white;
}

th {
  font-size: large;
  
}

td {
  border-top: 1px solid black;
}